/*========= 1024px =========*/

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        padding: 0 32px;
    }

    .header {
        padding-top: 15px;
    }

    .top__content {
        background-size: 45%;
        background-position: right 325px;
    }

    .what-we-do {
        padding-bottom: 95px;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .project {
        padding-bottom: 112px;
    }

    .footer {
        padding: 47px 0 65px;
    }

    .footer__main {
        padding: 0 124px 64px;
    }

    .footer__text {
        max-width: 336px;
    }

    .footer__btn {
        padding: 5px 30px;
    }

    .footer__contacts {
        padding: 64px 124px;
        flex-direction: column;
    }

    .contacts__item {
       margin-top: 25px; 
    }

    .contacts__item:first-of-type {
        margin-top: 0;
    }

    .contacts__icon {
        margin-right: 36px;
    }

    .rights {
        padding: 0 124px;
    }
}

/*========== 667px =========*/

@media (max-width: 667px) {
    .container {
        max-width: 667px;
        padding: 0 16px;
    }

    .header {
        padding-top: 15px;
    }

    .top {
        height: 10%;
        padding-bottom: 40px;
    }

    .top__content {
        background-image: none;
        padding-top: 43px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__heading {
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        width: 100%;
        margin-bottom: 12px;
    }

    .top__text {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        width: 100%;
    }

    .top__btn {
        font-size: 12px;
        line-height: 26px;
        text-align: center;
        padding: 5px 15px;
    }

    .what-we-do__heading {
        padding-top: 48px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .card-box {
        padding: 32px 0;
    }

    .project {
        padding-bottom: 64px;
    }

    .project__heading {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 100%;
    }

    .project__info {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        width: 100%;

    }

    .project__parent {
        margin-top: 16px;
        flex-direction: column;
    }

    .project__item {
        border-radius: 10px;
    }

    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .project__text_large-project {
        top: 16px;
        right: 16px;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
     }

     .project__text_small-project {
        font-size: 16px;
        line-height: 19px;
        top: 26px;
        left: 16px;
    }

    .footer__main {
        display: flex;
        flex-direction: column;
    }

    .footer__heading {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 100%;
    }

    .footer__text {
        text-align: center;
        width: 100%;
        margin-bottom: 42px;
    }

    .footer__btn {
        padding: 5px 20px;
        margin-bottom: 42px;
    }

    .footer__contacts {
        padding-top: 32px;
        padding-bottom: 37px;
        list-style: decimal;
        margin-left: 16px;
    }

    .contacts__item {
        font-size: 16px;
        line-height: 19px;
        margin-top: 17px;
        display: flex;
        display: list-item;
        padding-left: 20px;
    }

    .contacts__item:first-of-type {
        margin-top: 0;
    }

    .contacts__icon {
        display: none;
    }

    .rights {
        text-align: center;
    }
}

